---
import PageLayout from '../layouts/PageLayout.astro';
import Config from '../sarissa.config.cjs';
---

<PageLayout pageTitle={Config.menu?.about ?? 'About'}>
  <style is:global>
    p {
      line-height: 2rem;
    }
  </style>
  <article class="prose max-w-none">
    <p>
      このブログは KEG の BLOG、略して KLOG です。<br />
      自分の学習のため、そしてポートフォリオとして制作しました。 <br />
      Astroの公式サイトで（https://astro.build/）公開されている<br />
      İsmail Özçelik氏によるテンプレートをもとにしてデザインされています。<br />
      このブログでは、自分がプログラミングする上で気づいたことや、<br
      />困った際にどのように対応したのかを書いていきます。
      ただ、それだけでは面白くないので、趣味の映画や音楽のことも書いていきます。<br
      />
      更新頻度が多い方がサイトのよくないところが見つかって<br
      />より良いサイトにできるような気がしますからね
    </p>
  </article>
</PageLayout>
